.card {
  background: var(--gray--100);
  box-shadow: 10px 10px 10px rgba(165, 165, 165, 0.38);
  border-radius: 10px;
  transition: var(--transition);
}
.card:hover{
    box-shadow: none;
}
.title {
  color: var(--gray--900);
}
.text {
  color: var(--gray--800);
}
.icon {
  background-color: var(--primary--main);
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.icon svg {
  color: var(--gray--100);
  width: 60px;
  height: 60px;
}

@media only screen and (min-width: 992px) {
  .card {
    min-height: 360px;
  }
}
