.second-container{
  transform:translateY(300px) ;
  -webkit-transform:translateY(300px) ;
  -moz-transform:translateY(300px) ;
  -ms-transform:translateY(300px) ;
  -o-transform:translateY(300px) ;
}
.circle-parent {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(106.19deg, #ff5d2d 2.89%, rgba(255, 134, 98, 0.67) 104.63%);
  position: relative;
  width: 100%;
  height: 200px;
}
.circle1 {
  clip-path: circle(54% at 0 52%);
  background-color: var(--primary--light);
  height: 200px !important;
  width: 450px !important;
  position: absolute;
  top: 0;
  left: 0;
}
.circle2 {
  clip-path: circle(43% at 0 50%);
  background-color: var(--primary--main);
  height: 200px !important;
  width: 450px !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.circle3 {
  background-color: var(--primary--light);
  height: 100px !important;
  width: 100px !important;
  border-radius: 100%;
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: 2;
}
.footer-logo {
  width: 80%;
  height: 80%;
}
.circle4 {
  background-color: var(--primary--main);
  height: 40px !important;
  width: 40px !important;
  border-radius: 100%;
  position: absolute;
  top: 33px;
  left: 145px;
  z-index: 2;
}
.circle5 {
  height: 70px !important;
  width: 70px !important;
  position: absolute;
  bottom: 10%;
  left: 30%;
}
a {
  font-weight: bold;
  text-decoration: none !important;
  color: var(--gray--700) !important;
  transition: var(--transition);
}
a svg {
  color: var(--primary--main);
}
.footer-navbar {
  position: absolute;
  right: 85px;
  display: flex;
  align-items: center;
  height: 100% !important;
  width: 40% !important;
}
 a:hover {
  color: var(--gray--600)!important;
}

.square1 {
  height: 30px !important;
  width: 30px !important;
  position: absolute;
  background-color: transparent;
  outline: 5px solid var(--primary--main);
  z-index: 3;
  top: 35%;
  left: 52%;
  transform: translate(-50%, -50%);
}
.square2 {
  height: 30px !important;
  width: 30px !important;
  position: absolute;
  background-color: transparent;
  outline: 5px solid var(--primary--light);
  z-index: 2;
  top: 31%;
  left: 48%;
  transform: translate(-50%, -50%);
}
.footer-right {
  position: relative;
  width: 25% !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
}
.square-container {
  width: 100% !important;
}
.social-container {
  background-color: var(--primary--main);
  height: 1.5rem;
  width: 5rem !important;
}
.social-container svg {
  color: var(--gray--100);
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.5rem;
  transition: var(--transition);
}
.social-container svg:hover {
    color: var(--primary--light);
}
.dot-container {
  position: absolute;
}
.dot-container2 {
  position: absolute;
  bottom: 0;
  right: 5%;
}
.dot {
  background-color: var(--primary--light);
  height: 20px !important;
  width: 20px !important;
  border-radius: 100%;
  z-index: 4;
  opacity: 0.5;
}

@media only screen and (max-width: 400px) {
  .circle1 {
    height: 200px !important;
    width: 250px !important;
  }
  .circle2 {
    height: 200px !important;
    width: 250px !important;
  }
  .circle3 {
    height: 80px !important;
    width: 80px !important;
    top: 60px;
    left: 0px;
  }
  .footer-logo {
    width: 60%;
    height: 60%;
  }
  .circle4 {
    left: 100px;
    height: 30px !important;
    width: 30px !important;
  }
  a {
    font-weight: bold;
    font-size: 12px;
  }
}
@media only screen and (min-width: 476px) {
  .footer-navbar {
    right: 150px;
  }
  .social-container {
    width: 6rem !important;
  }
}
@media only screen and (min-width: 744px) {
    .footer-navbar {
        right: 250px;
    }
}
@media only screen and (min-width: 1200px) {
  .footer-navbar {
    right: 300px;
  }
}

